<div class="page-title-box">
  <h4 class="page-title"><%= @page_title %></h4>
</div>

<div class="card">
  <div class="card-body">
    <%= live_component @socket, BytepackWeb.OrgLive.FormComponent,
      id: :new,
      audit_context: @audit_context,
      current_user: @current_user,
      org: @org,
      title: @page_title,
      action: :new,
      return_to: Routes.dashboard_index_path(@socket, :index) %>
  </div>
</div>
