<%= live_component @socket, BytepackWeb.NavComponent,
            acl: @acl,
            current_org: @current_org,
            current_user: @current_user,
            current_membership: @current_membership %>
